<a href="https://colab.research.google.com/github/SofiaChen1996/DataAnalysisPractice/blob/main/Weather_Model_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1. CEMWFM Data Preprocessing**
This file is for preporcesing the weather model data. The preprocessing starts from the feature selection to wind component and temputure selection.

In [1]:
#install library
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [100]:
import pandas as pd
import numpy as np

In [28]:
def readcsv():
  URL= input("please input url")
  df = pd.read_csv(URL)
  print(df.head())
  return df

In [53]:
csv= readcsv()

please input urlhttps://raw.githubusercontent.com/SofiaChen1996/Wind_Energy_Forecast/main/AlenzaWeather.csv?token=GHSAT0AAAAAACSCRWNKT3ZD2OM2WBU35DUAZR5AE7Q
   Unnamed: 0                 time      u100      v100       u10       v10  \
0           0  2020-01-01 00:00:00  2.211855  0.485513  1.065209  1.503842
1           1  2020-01-01 01:00:00  2.510576  0.368565  1.275595  1.574445
2           2  2020-01-01 02:00:00  2.861203  0.321288  1.425872  1.643126
3           3  2020-01-01 03:00:00  2.758981  0.619878  1.385209  1.703015
4           4  2020-01-01 04:00:00  2.726672  0.771247  1.417739  1.703564

         d2m        t2m         msl        sp  expver
0  270.91837  272.67648  103264.820  94708.40     NaN
1  270.94450  272.56860  103236.030  94686.57     NaN
2  270.81378  272.35638  103198.270  94654.96     NaN
3  270.57150  271.94897  103183.875  94643.48     NaN
4  270.40010  271.76303  103159.270  94626.55     NaN

#**2. Feature Selection**
Remove the unnecessary column from the dataset. Since some of the column is irrelant for the project. This section includes:


1.   Feature Selection
2.   Date Selection

##Feature Selection##

In [54]:
#drop the unncessary column
list = ['u10','v10','expver']
for i in list:
  csv=csv.drop(i, axis=1)
print(csv)

       Unnamed: 0                 time      u100      v100        d2m  \
0               0  2020-01-01 00:00:00  2.211855  0.485513  270.91837
1               1  2020-01-01 01:00:00  2.510576  0.368565  270.94450
2               2  2020-01-01 02:00:00  2.861203  0.321288  270.81378
3               3  2020-01-01 03:00:00  2.758981  0.619878  270.57150
4               4  2020-01-01 04:00:00  2.726672  0.771247  270.40010
...           ...                  ...       ...       ...        ...
40771       40771  2024-02-29 19:00:00  8.508087 -5.748358  277.57610
40772       40772  2024-02-29 20:00:00  6.774473 -8.754906  276.59705
40773       40773  2024-02-29 21:00:00  5.614601 -7.019916  275.34998
40774       40774  2024-02-29 22:00:00  6.568333 -6.520744  275.65054
40775       40775  2024-02-29 23:00:00  8.646989 -5.543845  275.51874

             t2m         msl        sp
0      272.67648  103264.820  94708.40
1      272.56860  103236.030  94686.57
2      272.35638  103198.270  94654.96
3      271.94897  103183.875  94643.48
4      271.76303  103159.270  94626.55
...          ...         ...       ...
40771  282.07733  101347.390  92942.62
40772  279.46030  101540.170  93052.70
40773  277.82214  101687.300  93139.52
40774  277.55530  101722.780  93138.92
40775  277.75660  101691.586  93109.25

[40776 rows x 8 columns]

In [55]:
#check missing value
def missing_value(csv):
  #display missing value count
  missing_values = csv.isnull().sum()
  print("\nMissing values in each column:")
  print(missing_values)
  #display missing value pct
  missing_percentage = (csv.isnull().sum() / len(csv)) * 100
  print("\nMissing values percentage in each column:")
  print(missing_percentage)
  #display missing value row
  rows_with_nulls = csv[csv.isnull().any(axis=1)]
  print("Rows with null values:")
  print(rows_with_nulls)

In [56]:
csv.describe()

,Unnamed: 0,u100,v100,d2m,t2m,msl,sp
count,40776.000000,37920.000000,37920.000000,37920.000000,37920.000000,37920.000000,37920.000000
mean,20387.500000,2.660726,-0.958957,278.627658,287.290544,101857.715644,93514.948719
std,11771.161625,4.314675,3.586148,5.583270,8.445522,706.103052,621.686508
min,0.000000,-16.013700,-15.232226,253.476270,268.237240,98582.734000,90451.790000
25%,10193.750000,-0.327062,-3.327286,274.673542,280.926918,101430.742500,93179.720000
50%,20387.500000,2.692716,-0.681206,278.852710,286.403700,101826.650000,93523.027500
75%,30581.250000,5.758375,1.529699,282.696020,292.946163,102284.362500,93896.017500
max,40775.000000,18.442377,11.781526,293.522980,313.377700,103976.300000,95367.470000

In [57]:
missing_value(csv)

Missing values in each column:
Unnamed: 0       0
time             0
u100          2856
v100          2856
d2m           2856
t2m           2856
msl           2856
sp            2856
dtype: int64

Missing values percentage in each column:
Unnamed: 0    0.00000
time          0.00000
u100          7.00412
v100          7.00412
d2m           7.00412
t2m           7.00412
msl           7.00412
sp            7.00412
dtype: float64
Rows with null values:
       Unnamed: 0                 time  u100  v100  d2m  t2m  msl  sp
36480       36480  2024-01-01 00:00:00   NaN   NaN  NaN  NaN  NaN NaN
36481       36481  2024-01-01 01:00:00   NaN   NaN  NaN  NaN  NaN NaN
36482       36482  2024-01-01 02:00:00   NaN   NaN  NaN  NaN  NaN NaN
36483       36483  2024-01-01 03:00:00   NaN   NaN  NaN  NaN  NaN NaN
36484       36484  2024-01-01 04:00:00   NaN   NaN  NaN  NaN  NaN NaN
...           ...                  ...   ...   ...  ...  ...  ...  ..
39331       39331  2023-02-28 19:00:00   NaN   NaN  NaN  NaN  NaN NaN
39332       39332  2023-02-28 20:00:00   NaN   NaN  NaN  NaN  NaN NaN
39333       39333  2023-02-28 21:00:00   NaN   NaN  NaN  NaN  NaN NaN
39334       39334  2023-02-28 22:00:00   NaN   NaN  NaN  NaN  NaN NaN
39335       39335  2023-02-28 23:00:00   NaN   NaN  NaN  NaN  NaN NaN

[2856 rows x 8 columns]

##Date Selection

In [58]:
#remove the rows which is not overlap with SCADA Data (2020/2/14-2024/03/05)
def datefilter(df,column,mindate='none',maxdate='none'):
  df[column]=pd.to_datetime(df[column], format='%Y-%m-%d %H:%M:%S')
  if mindate != 'none':
    df=df[df['time'] >= mindate]
  if maxdate != 'none':
    df=df[df['time'] <= maxdate]
  print(df)
  return df

In [59]:
csv=datefilter(csv, 'time', '2021-02-14 00:00:00')

       Unnamed: 0                time      u100      v100        d2m  \
9840         9840 2021-02-14 00:00:00  4.961639 -2.348021  276.17680
9841         9841 2021-02-14 01:00:00  4.972347 -1.646687  275.78146
9842         9842 2021-02-14 02:00:00  4.524529 -0.927579  275.24658
9843         9843 2021-02-14 03:00:00  3.861079 -0.237354  274.90784
9844         9844 2021-02-14 04:00:00  3.552475 -0.141448  274.14300
...           ...                 ...       ...       ...        ...
40771       40771 2024-02-29 19:00:00  8.508087 -5.748358  277.57610
40772       40772 2024-02-29 20:00:00  6.774473 -8.754906  276.59705
40773       40773 2024-02-29 21:00:00  5.614601 -7.019916  275.34998
40774       40774 2024-02-29 22:00:00  6.568333 -6.520744  275.65054
40775       40775 2024-02-29 23:00:00  8.646989 -5.543845  275.51874

             t2m         msl        sp
9840   279.55292  102841.060  94304.64
9841   278.87833  102841.720  94303.03
9842   277.82947  102836.040  94298.57
9843   276.78060  102837.580  94303.75
9844   275.53550  102830.550  94298.57
...          ...         ...       ...
40771  282.07733  101347.390  92942.62
40772  279.46030  101540.170  93052.70
40773  277.82214  101687.300  93139.52
40774  277.55530  101722.780  93138.92
40775  277.75660  101691.586  93109.25

[30936 rows x 8 columns]

#**3. Missing Value Handlling**

Below is the section which investigate and mark the missing value

In [60]:
missing_value(csv)

Missing values in each column:
Unnamed: 0       0
time             0
u100          2856
v100          2856
d2m           2856
t2m           2856
msl           2856
sp            2856
dtype: int64

Missing values percentage in each column:
Unnamed: 0    0.000000
time          0.000000
u100          9.231963
v100          9.231963
d2m           9.231963
t2m           9.231963
msl           9.231963
sp            9.231963
dtype: float64
Rows with null values:
       Unnamed: 0                time  u100  v100  d2m  t2m  msl  sp
36480       36480 2024-01-01 00:00:00   NaN   NaN  NaN  NaN  NaN NaN
36481       36481 2024-01-01 01:00:00   NaN   NaN  NaN  NaN  NaN NaN
36482       36482 2024-01-01 02:00:00   NaN   NaN  NaN  NaN  NaN NaN
36483       36483 2024-01-01 03:00:00   NaN   NaN  NaN  NaN  NaN NaN
36484       36484 2024-01-01 04:00:00   NaN   NaN  NaN  NaN  NaN NaN
...           ...                 ...   ...   ...  ...  ...  ...  ..
39331       39331 2023-02-28 19:00:00   NaN   NaN  NaN  NaN  NaN NaN
39332       39332 2023-02-28 20:00:00   NaN   NaN  NaN  NaN  NaN NaN
39333       39333 2023-02-28 21:00:00   NaN   NaN  NaN  NaN  NaN NaN
39334       39334 2023-02-28 22:00:00   NaN   NaN  NaN  NaN  NaN NaN
39335       39335 2023-02-28 23:00:00   NaN   NaN  NaN  NaN  NaN NaN

[2856 rows x 8 columns]

After checking row data, the data has the null value might be the duplicate value. Therefore, we start to check the duplicate data in the dataset.

In [61]:

# Method 1: Counting all duplicate occurrences
total_duplicates = csv['time'].duplicated().sum()
print("Total number of duplicate 'time' entries (excluding the first occurrence):", total_duplicates)

Total number of duplicate 'time' entries (excluding the first occurrence): 4272

In [62]:
csv['time'].duplicated()

9840     False
9841     False
9842     False
9843     False
9844     False
         ...
40771     True
40772     True
40773     True
40774     True
40775     True
Name: time, Length: 30936, dtype: bool

In [84]:
csv=csv.drop_duplicates()

In [87]:
print(csv.duplicated())

9840     False
9841     False
9842     False
9843     False
9844     False
         ...
40771    False
40772    False
40773    False
40774    False
40775    False
Length: 30936, dtype: bool

In [85]:
total_duplicates = csv['time'].duplicated().sum()
print("Total number of duplicate 'time' entries (excluding the first occurrence):", total_duplicates)

Total number of duplicate 'time' entries (excluding the first occurrence): 4272

In [94]:
import pandas as pd

def null_duplicate_drop(df, columns_to_check):
    """
    This function aims to drop rows with null values in specified columns only if there exists another row at the same 'time'
    that has non-null values in those columns. All completely identical rows are removed initially.

    Parameters:
    - df (DataFrame): The DataFrame to process.
    - columns_to_check (list): List of columns to check for null values.

    Returns:
    - DataFrame: A DataFrame where duplicates with nulls are removed if a non-null duplicate exists; all completely identical rows are also removed.
    """

    # Step 0: Remove completely identical rows
    df = df.drop_duplicates(keep='first')

    # Step 1: Create two subsets of data - one where any specified columns are null and another with no nulls in these columns
    null_values_df = df[df[columns_to_check].isnull().any(axis=1)]
    non_null_values_df = df[df[columns_to_check].notnull().all(axis=1)]

    # Step 2: Identify duplicate 'time' entries in the non-null subset
    duplicate_times = non_null_values_df['time'].duplicated(keep=False)

    # Step 3: Keep only duplicates from non-null subset where there are no corresponding null entries at the same 'time'
    valid_non_nulls = non_null_values_df[~duplicate_times]

    # Step 4: Concatenate the valid non-null rows with those null rows that don't have a corresponding non-null row at the same 'time'
    cleaned_nulls = null_values_df[~null_values_df['time'].isin(non_null_values_df['time'])]
    final_df = pd.concat([valid_non_nulls, cleaned_nulls, non_null_values_df[duplicate_times]]).drop_duplicates(subset='time', keep='first').sort_index()

    return final_df

In [95]:
csv_cleaned=null_duplicate_drop(csv,['u100','v100','d2m','t2m','msl','sp'])

In [96]:
# Method 1: Counting all duplicate occurrences
total_duplicates = csv_cleaned['time'].duplicated().sum()
print("Total number of duplicate 'time' entries (excluding the first occurrence):", total_duplicates)

Total number of duplicate 'time' entries (excluding the first occurrence): 0

In [97]:
print(csv_cleaned)

       Unnamed: 0                time      u100      v100        d2m  \
9840         9840 2021-02-14 00:00:00  4.961639 -2.348021  276.17680
9841         9841 2021-02-14 01:00:00  4.972347 -1.646687  275.78146
9842         9842 2021-02-14 02:00:00  4.524529 -0.927579  275.24658
9843         9843 2021-02-14 03:00:00  3.861079 -0.237354  274.90784
9844         9844 2021-02-14 04:00:00  3.552475 -0.141448  274.14300
...           ...                 ...       ...       ...        ...
40771       40771 2024-02-29 19:00:00  8.508087 -5.748358  277.57610
40772       40772 2024-02-29 20:00:00  6.774473 -8.754906  276.59705
40773       40773 2024-02-29 21:00:00  5.614601 -7.019916  275.34998
40774       40774 2024-02-29 22:00:00  6.568333 -6.520744  275.65054
40775       40775 2024-02-29 23:00:00  8.646989 -5.543845  275.51874

             t2m         msl        sp
9840   279.55292  102841.060  94304.64
9841   278.87833  102841.720  94303.03
9842   277.82947  102836.040  94298.57
9843   276.78060  102837.580  94303.75
9844   275.53550  102830.550  94298.57
...          ...         ...       ...
40771  282.07733  101347.390  92942.62
40772  279.46030  101540.170  93052.70
40773  277.82214  101687.300  93139.52
40774  277.55530  101722.780  93138.92
40775  277.75660  101691.586  93109.25

[26664 rows x 8 columns]

In [98]:
missing_value(csv_cleaned)

Missing values in each column:
Unnamed: 0    0
time          0
u100          0
v100          0
d2m           0
t2m           0
msl           0
sp            0
dtype: int64

Missing values percentage in each column:
Unnamed: 0    0.0
time          0.0
u100          0.0
v100          0.0
d2m           0.0
t2m           0.0
msl           0.0
sp            0.0
dtype: float64
Rows with null values:
Empty DataFrame
Columns: [Unnamed: 0, time, u100, v100, d2m, t2m, msl, sp]
Index: []

In [99]:
csv_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26664 entries, 9840 to 40775
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26664 non-null  int64
 1   time        26664 non-null  datetime64[ns]
 2   u100        26664 non-null  float64
 3   v100        26664 non-null  float64
 4   d2m         26664 non-null  float64
 5   t2m         26664 non-null  float64
 6   msl         26664 non-null  float64
 7   sp          26664 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 1.8 MB

#**4. Wind Component Transformation**

1.  The Wind Speed Conversion Function\

  |V|=√(u^2+v^2 ) \
2.  Wind Direction Conversion Function\
  ϕ=mod(180+180πatan2(u,v),360)

In [101]:
#transform the wind component to the wind direction
def calculate_wind_parameters(df, u_col, v_col):
    """
    Calculate wind speed and direction from U and V wind components.

    Parameters:
    - df (DataFrame): DataFrame containing the wind component data.
    - u_col (str): Column name for U component.
    - v_col (str): Column name for V component.

    Returns:
    - DataFrame: DataFrame with added columns for wind speed and wind direction.
    """
    # Calculate wind speed
    df['wind_speed'] = np.sqrt(df[u_col]**2 + df[v_col]**2)

    # Calculate wind direction
    df['wind_direction'] = np.degrees(np.arctan2(df[v_col], df[u_col]))
    df['wind_direction'] = 270 - df['wind_direction']
    df['wind_direction'] = df['wind_direction'] % 360  # Normalize direction to 0-360 degrees

    return df

In [104]:
csv_cleaned= calculate_wind_parameters(csv_cleaned, 'u100', 'v100')

In [105]:
print(csv_cleaned)

       Unnamed: 0                time      u100      v100        d2m  \
9840         9840 2021-02-14 00:00:00  4.961639 -2.348021  276.17680
9841         9841 2021-02-14 01:00:00  4.972347 -1.646687  275.78146
9842         9842 2021-02-14 02:00:00  4.524529 -0.927579  275.24658
9843         9843 2021-02-14 03:00:00  3.861079 -0.237354  274.90784
9844         9844 2021-02-14 04:00:00  3.552475 -0.141448  274.14300
...           ...                 ...       ...       ...        ...
40771       40771 2024-02-29 19:00:00  8.508087 -5.748358  277.57610
40772       40772 2024-02-29 20:00:00  6.774473 -8.754906  276.59705
40773       40773 2024-02-29 21:00:00  5.614601 -7.019916  275.34998
40774       40774 2024-02-29 22:00:00  6.568333 -6.520744  275.65054
40775       40775 2024-02-29 23:00:00  8.646989 -5.543845  275.51874

             t2m         msl        sp  wind_speed  wind_direction
9840   279.55292  102841.060  94304.64    5.489176      295.325147
9841   278.87833  102841.720  94303.03    5.237921      288.323263
9842   277.82947  102836.040  94298.57    4.618633      281.585736
9843   276.78060  102837.580  94303.75    3.868368      273.517741
9844   275.53550  102830.550  94298.57    3.555289      272.280127
...          ...         ...       ...         ...             ...
40771  282.07733  101347.390  92942.62   10.267968      304.044323
40772  279.46030  101540.170  93052.70   11.069863      322.267596
40773  277.82214  101687.300  93139.52    8.989047      321.346820
40774  277.55530  101722.780  93138.92    9.255436      314.791689
40775  277.75660  101691.586  93109.25   10.271545      302.665153

[26664 rows x 10 columns]

In [106]:
csv_cleaned.describe()

,Unnamed: 0,time,u100,v100,d2m,t2m,msl,sp,wind_speed,wind_direction
count,26664.000000,26664,26664.000000,26664.000000,26664.000000,26664.000000,26664.000000,26664.000000,26664.000000,26664.000000
mean,23402.211071,2022-08-23 11:30:00,2.498252,-0.983667,278.862522,287.996807,101842.730963,93513.945448,5.364057,230.813431
min,9840.000000,2021-02-14 00:00:00,-16.013700,-15.232226,253.476270,268.840700,98582.734000,90451.790000,0.004631,0.038893
25%,16505.750000,2021-11-18 17:45:00,-0.388337,-3.398835,274.987625,281.525795,101433.825000,93194.647500,2.911660,159.983215
50%,23171.500000,2022-08-23 11:30:00,2.521576,-0.723153,279.051395,287.270900,101810.355500,93516.695000,4.911513,260.876457
75%,29837.250000,2023-05-28 05:15:00,5.488234,1.526335,282.936460,293.703185,102230.165000,93858.230000,7.446651,308.525116
max,40775.000000,2024-02-29 23:00:00,18.059875,11.781526,293.522980,313.377700,103976.300000,95367.470000,19.936579,359.995775
std,8124.143609,NaN,4.229489,3.635488,5.586273,8.449281,683.498282,595.576751,3.088736,95.427479

In [109]:
csv_cleaned['t2m'] = csv_cleaned['t2m'] - 273.15

In [139]:
csv_cleaned.to_csv('/content/weathermodel_processed_1.csv', index=False)

**Break Point**\
Save the first preprocessing round files
###Github connection
Below is teh process for git hub connection and output the finish file.

In [140]:
!git clone https://github.com/SofiaChen1996/Wind_Energy_Forecast.git

Cloning into 'Wind_Energy_Forecast'...
fatal: could not read Username for 'https://github.com': No such device or address

In [148]:
from getpass import getpass
token = getpass('Enter your GitHub token: ')

Enter your GitHub token: ··········

In [150]:
username = 'SofiaChen1996'
repo = 'Wind_Energy_Forecast'
!echo Cloning into $repo
!git clone https://$username:$token@github.com/$username/$repo.git

Cloning into Wind_Energy_Forecast
Cloning into 'github.com'...
remote: invalid credentials
fatal: Authentication failed for 'https://github.com//.git/'

#**5.Outlinear Handling**

@incollection{MOHRLEN2023277,
title = {Chapter Twenty-Two - Best practice recommendations},
editor = {Corinna Möhrlen and John W. Zack and Gregor Giebel},
booktitle = {IEA Wind Recommended Practice for the Implementation of Renewable Energy Forecasting Solutions},
publisher = {Academic Press},
pages = {277-299},
year = {2023},
series = {Wind Energy Engineering},
isbn = {978-0-443-18681-3},
doi = {https://doi.org/10.1016/B978-0-44-318681-3.00035-0},
url = {https://www.sciencedirect.com/science/article/pii/B9780443186813000350},
author = {Corinna Möhrlen and John W. Zack and Gregor Giebel}
}\

In [111]:
csv_cleaned.describe()

,Unnamed: 0,time,u100,v100,d2m,t2m,msl,sp,wind_speed,wind_direction
count,26664.000000,26664,26664.000000,26664.000000,26664.000000,26664.000000,26664.000000,26664.000000,26664.000000,26664.000000
mean,23402.211071,2022-08-23 11:30:00,2.498252,-0.983667,278.862522,14.846807,101842.730963,93513.945448,5.364057,230.813431
min,9840.000000,2021-02-14 00:00:00,-16.013700,-15.232226,253.476270,-4.309300,98582.734000,90451.790000,0.004631,0.038893
25%,16505.750000,2021-11-18 17:45:00,-0.388337,-3.398835,274.987625,8.375795,101433.825000,93194.647500,2.911660,159.983215
50%,23171.500000,2022-08-23 11:30:00,2.521576,-0.723153,279.051395,14.120900,101810.355500,93516.695000,4.911513,260.876457
75%,29837.250000,2023-05-28 05:15:00,5.488234,1.526335,282.936460,20.553185,102230.165000,93858.230000,7.446651,308.525116
max,40775.000000,2024-02-29 23:00:00,18.059875,11.781526,293.522980,40.227700,103976.300000,95367.470000,19.936579,359.995775
std,8124.143609,NaN,4.229489,3.635488,5.586273,8.449281,683.498282,595.576751,3.088736,95.427479

##Wind Speed
**Criteria**:\
– is less than zero or greater than 50 m/s\
– varies less than than 0.1 m/s for 3 consecutive hours\
– varies less than 0.5 m/s for 12 consecutive hours

In [118]:
# Function to apply nulls based on stability criteria
def apply_stability_criteria(df, column, window_size, threshold):
    # Calculate the rolling max and min over the specified window size
    rolling_max = df[column].rolling(window=window_size, min_periods=window_size).max()
    rolling_min = df[column].rolling(window=window_size, min_periods=window_size).min()

    # Calculate the max variation within the window
    max_variation = rolling_max - rolling_min

    # Identify where the variation is less than the threshold
    stable_indices = max_variation < threshold

    # Replace values that meet the stability criteria with NaN
    df.loc[stable_indices, column] = np.nan
    return df

In [152]:
csv_cleaned=apply_stability_criteria(csv_cleaned,'wind_speed',3,0.1)
csv_cleaned=apply_stability_criteria(csv_cleaned,'wind_speed',12,0.5)

In [154]:
missing_value(csv_cleaned)

Missing values in each column:
Unnamed: 0          0
time                0
u100                0
v100                0
d2m                 0
t2m                 0
msl                 0
sp                  0
wind_speed        588
wind_direction      0
dtype: int64

Missing values percentage in each column:
Unnamed: 0        0.000000
time              0.000000
u100              0.000000
v100              0.000000
d2m               0.000000
t2m               0.000000
msl               0.000000
sp                0.000000
wind_speed        2.205221
wind_direction    0.000000
dtype: float64
Rows with null values:
       Unnamed: 0                time      u100       v100        d2m  \
9865         9865 2021-02-15 01:00:00 -1.964925   3.101943  276.97420
9891         9891 2021-02-16 03:00:00  0.640203   3.634794  276.26780
9973         9973 2021-02-19 13:00:00  1.310468   3.445575  273.76675
9974         9974 2021-02-19 14:00:00  1.954449   3.201181  272.54144
10085       10085 2021-02-24 05:00:00  0.458155   4.746412  276.22842
...           ...                 ...       ...        ...        ...
40544       40544 2024-02-20 08:00:00  8.432444  -3.694884  269.54170
40568       40568 2024-02-21 08:00:00  4.424649   1.781314  270.60538
40569       40569 2024-02-21 09:00:00  4.383509   1.853588  271.26297
40601       40601 2024-02-22 17:00:00  8.317430   3.074713  277.49585
40730       40730 2024-02-28 02:00:00  7.973272 -10.507368  272.82132

            t2m         msl         sp  wind_speed  wind_direction
9865    4.83837  103447.380  94812.130         NaN      147.647796
9891    4.64290  103012.734  94413.530         NaN      189.989152
9973   18.04836  101729.305  93447.805         NaN      200.823496
9974   18.87630  101629.910  93368.016         NaN      211.405727
10085   4.70727  103485.555  94877.470         NaN      185.513488
...         ...         ...        ...         ...             ...
40544   6.08940  103158.414  94592.875         NaN      293.661816
40568   5.34800  102575.780  94177.805         NaN      248.070841
40569   9.35464  102602.860  94204.470         NaN      247.078690
40601  16.42310  100594.266  92387.984         NaN      249.712106
40730   4.18566  102107.914  93470.980         NaN      322.807799

[588 rows x 10 columns]

##Wind Direction
**Criteria**:\
– is less than zero or greater than 360 degrees\
– varies less than 1 degree for more than 3 consecutive hours\
– varies less than 10 degrees for 18 consecutive hours

In [155]:
csv_cleaned=apply_stability_criteria(csv_cleaned,'wind_direction',3,1)
csv_cleaned=apply_stability_criteria(csv_cleaned,'wind_direction',18,10)

In [156]:
missing_value(csv_cleaned)

Missing values in each column:
Unnamed: 0          0
time                0
u100                0
v100                0
d2m                 0
t2m                 0
msl                 0
sp                  0
wind_speed        588
wind_direction    482
dtype: int64

Missing values percentage in each column:
Unnamed: 0        0.000000
time              0.000000
u100              0.000000
v100              0.000000
d2m               0.000000
t2m               0.000000
msl               0.000000
sp                0.000000
wind_speed        2.205221
wind_direction    1.807681
dtype: float64
Rows with null values:
       Unnamed: 0                time      u100       v100        d2m  \
9865         9865 2021-02-15 01:00:00 -1.964925   3.101943  276.97420
9891         9891 2021-02-16 03:00:00  0.640203   3.634794  276.26780
9896         9896 2021-02-16 08:00:00  1.064169   3.464459  274.82483
9963         9963 2021-02-19 03:00:00  6.122068   4.037672  273.64993
9964         9964 2021-02-19 04:00:00  5.611947   3.769951  273.64624
...           ...                 ...       ...        ...        ...
40730       40730 2024-02-28 02:00:00  7.973272 -10.507368  272.82132
40766       40766 2024-02-29 14:00:00  7.147826  -3.835859  274.98570
40767       40767 2024-02-29 15:00:00  7.287612  -3.789397  274.65836
40768       40768 2024-02-29 16:00:00  7.700336  -4.075716  274.71768
40769       40769 2024-02-29 17:00:00  7.152249  -3.773115  275.01290

            t2m         msl         sp  wind_speed  wind_direction
9865    4.83837  103447.380  94812.130         NaN      147.647796
9891    4.64290  103012.734  94413.530         NaN      189.989152
9896    3.65206  102767.430  94244.664    3.624215             NaN
9963    8.01434  101912.200  93533.850    7.333656             NaN
9964    7.42874  101908.125  93532.770    6.760657             NaN
...         ...         ...        ...         ...             ...
40730   4.18566  102107.914  93470.980         NaN      322.807799
40766  16.15283  101189.920  92926.375    8.112042             NaN
40767  16.38012  101077.350  92827.320    8.213940             NaN
40768  15.12370  101042.290  92791.430    8.712441             NaN
40769  14.18783  101048.850  92787.820    8.086474             NaN

[1051 rows x 10 columns]